<div class="card">
<h1>Admin Dashboard</h1>
<br>
<h3>Characters</h3>
<div class="row">
  <div class="table-block">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Race</th>
      <th scope="col">Class</th>
      <th scope="col">Created By</th>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody>
<% @character.each do |character| %>
    <tr>
      <th scope="row"><%= link_to "#{character.name}", character_show_path(character) %></th>
      <td><%= character.level%></td>
      <td><%= character.race.race_name %></td>
      <td><%= character.character_class.title %></td>
      <td class="data-meta"><%= character.user.name %></td>
      <td class="data-meta"><%= character.created_at %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
</div>
<p class="center-row"><%= link_to 'New Character', new_character_path, class: 'btn btn-md btn-primary' %></p>


<hr>
<h3>Classes</h3>
<div class="row">
  <div class="table-block table-sm">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Features</th>      
    </tr>
  </thead>
  <tbody>
<% @character_class.each do |c| %>
  <tr>
      <th scope="row"><%= link_to c.title, character_class_path(c) %></th>
      <td><%= c.features.count %></td>
    </tr>
<% end %>
</tbody>
</table>

</div>
</div>
<p class="center-row"><%= link_to 'New Class', new_character_class_path, class: 'btn btn-md btn-primary' %></p>

<hr>
<h3>Races</h3>
<div class="row">
    <div class="table-block table-sm">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Traits</th>      
    </tr>
  </thead>
  <tbody>
<% @race.each do |r| %>
  <tr>
      <th scope="row"><%= link_to r.race_name, race_path(r) %></th>
      <td><%= r.traits.count %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
</div>

<p class="center-row"><%= link_to 'New Race', new_race_path, class: 'btn btn-md btn-primary' %></p>

<div class="row">
  <%= @archetype.all %>
  <br>
  <p><%= link_to 'New Archetype', new_archetype_path, class: 'btn btn-md btn-primary' %></p>
</div>

</div>