<%= form_for(@character) do |c| %>

  <div>
    <%= c.label :name %>
    <%= c.text_field :name %>
  </div>

  <div>
    <%= c.label :race %>
    <%= c.collection_select(:race_id, Race.all, :id, :race_name,
                            {
                              include_blank: false,

                            },
                            class: 'form-control'
                            ) %> 
  </div>

  <div class="form-group">
    <%= c.label :character_class_id %>
    <%= c.collection_select(:character_class_id, CharacterClass.all, :id, :title,
                            {
                              include_blank: false,

                            },
                            class: 'form-control'
                            ) %>   

  </div>

  <div>
    <%= c.label :level %>
    <%= c.number_field :level %>
  </div>

  <div>
    <%= c.label :backstory %>
    <%= c.text_field :backstory %>
  </div>

  <div>
    Upload a character image: <%= c.file_field :character_image %>
  </div>

  <div class="form-group">
    <%= c.radio_button :status, 'personal' %>
    <%= c.label :status, 'Personal' %>
    <%= c.radio_button :status, 'published' %>
    <%= c.label :status, 'Published' %>
  </div>

  <div>
    <%= c.submit 'Save Character' %>
  </div>

<% end %>

<div><%= link_to 'Back', characters_path %></div>