<div class="album">
  <div class="container">
<h1>My Characters</h1>
<br>
    <div class="row">
    <% @character.each do |character| %>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag character.character_image, width: '350px', class: 'card-img' %>
          <p class="card-text">
            <div><h5><span><%= link_to character.name, character_show_path(character) %></span></h5></div> 
            <%= character.race.race_name %>, <%= character.character_class.title %> Level: <%= character.level %>
            <div class="data-meta">Created at: <%= character.created_at %> by: <%= character.user.name %></div>
          </p>
        </div>
      </div>
<% end %>

    </div>
    <hr>
    <div class="row center-row">
<div class="button-item"><%= link_to 'New Character', new_character_path, class: 'btn btn-primary btn-lg' %></div>
  </div>
</div>
</div>