<div>Name: <%= @character.name %></div>
<div>Race: <%= @character.race.race_name %></div>
<div>Class: <%= @character.character_class.title %> Lvl: <%= @character.level %> <%= @character.character_class.description %> </div>
<div>Backstory: <%= @character.backstory %></div>
<div><%= image_tag character_img(@character.character_image), width: '350px', alt: 'character image' %></div>

<div>
  <div><%= link_to "Edit Character", edit_character_path(@character) %></div>
  <div><%= link_to 'Delete Character', @character, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <div><%= link_to 'Back', characters_path %></div>
</div>