

<% if @character.personal? %>
  <h3>This character is Private</h3>
<% elsif @character.published? %>
  <h3>This character is Public</h3>
<% end %>
<div>Name: <%= @character.name %></div>
<div>Race: <%= @character.race.race_name %></div>
<div>Class: <%= @character.character_class.title %> Lvl: <%= @character.level %> <%= @character.character_class.description %> </div>
<div>Backstory: <%= @character.backstory %></div>
<ul>
<% @character.stats.recent.each do |stat| %>
  <li>
    <%= stat.name %>, <%= stat.score %>, <%= stat.modifier %>
  </li>
<% end %>
  </ul>

  <h3>Class Features</h3>
  <ul>
  <% @character.character_class.features.each do |feature| %>
    <% if  @character.level >= feature.level %>
      <li>
        <%= feature.name %> Level: <%= feature.level %>, <%= feature.description %> 
      </li>
      <br>
    <% end %>
  <% end %>
</ul>

  <h3>Racial Traits</h3>
  <ul>
  <% @character.race.traits.each do |trait| %>
    <% if  @character.level >= trait.level %>
      <li>
        <%= trait.name %> Level: <%= trait.level %>, <%= trait.description %> 
      </li>
      <br>
    <% end %>
  <% end %>
</ul>


<div><%= image_tag character_img(@character.character_image), width: '350px', alt: 'character image' %></div>

<div>
  <% if logged_in?(:site_admin) %>
    <div><%= link_to "Edit Character", edit_character_path(@character) %></div>
    <div><%= link_to 'Delete Character', @character, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% elsif current_user.id == @character.user_id %>
    <div><%= link_to "Edit Character", edit_character_path(@character) %></div>
    <div><%= link_to 'Delete Character', @character, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% end %>
  <div><%= link_to 'Back', characters_path %></div>
</div>