<%= form_for(@character_class) do |c| %>
 <% if @character_class.errors.any? %>
    <% @character_class.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Character Share", sticky: false ) %>
      <% end %>
    <% end %>

  <div>
    <%= c.label :title %>
    <%= c.text_field :title %>
  </div>

  <div>
    <%= c.label :description %>
    <%= c.text_field :description %>
  </div>

  <h3>Features</h3>
  <ul> 
    <%= c.fields_for :features do |f| %>
    <li>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.label :level %>
        <%= f.number_field :level %>
      </div>

  </li>
  <br>
    <% end %>

  </ul>

  <div>
    <%= c.submit 'Save Class' %>
  </div>

<% end %>

<div><%= link_to 'Back', admin_dashboard_path %></div>
