<%= form_for(@character_class) do |c| %>
 <% if @character_class.errors.any? %>
    <% @character_class.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Character Share", sticky: false ) %>
      <% end %>
    <% end %>

  <div>
    <%= c.label :title %>
    <%= c.text_field :title %>
  </div>

  <div>
    <%= c.label :description %>
    <%= c.text_field :description %>
  </div>

  <div>
    <%= c.submit 'Save Class' %>
  </div>

<% end %>

<div><%= link_to 'Back', admin_dashboard_path %></div>
