<div>Class: <%= @character_class.title %></div>
<div>Description: <%= @character_class.description %></div>
<h3>Features:</h3>
<ul>
<% @character_class.features.each do |f| %>
  <li>
    <%= f.name %>, <%= f.description %>, <%= f.level %>
  </li>
<% end %>
  </ul>

<div>
  <% if logged_in?(:site_admin) %>
    <div><%= link_to "Edit Class", edit_character_class_path(@character_class) %></div>
    <div><%= link_to 'Delete Class', @character_class, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  <div><%= link_to 'Back', admin_dashboard_path %></div>
</div>